body {
    font-family: 'Benne', serif;
    background-image: url(img/black.jpg);
}



.scroll{
     position: absolute;
     width: 200%;
     height: 200%;
     margin: 0;
     line-height: 50px;
     text-align: center;
     
    }


.navbar {
    display:flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
    display: inline-block;
    background: #ff893b;
    color: #fff;
    padding: 8px 8px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

p{
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col2 {
    text-align: right;
}

.col-2 p{
    color: white;
}

.col2 img{
    padding: 50px 0;
    max-width: 100%;
}

.h2 {
    align-self: center;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.explore-btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}


.explore-btn:hover {
    background: #563434;
}

.categories {
    margin: 20px 0;
}

.categories p{
    color: white;
}


.col-3 {
    flex-basis: 30%;
    min-width: 250px;
}

.col-3 img{
    width: 100%;
}

.col-3 h1 {color:white,
}

.categories h1 {
    align-content: center;
    color: black;
    padding-right: 10px;
    padding-left: 450px;
}



.review-1 {
    margin-bottom: 50px;
}

.testimonial {
    text-align: center;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px 0 10px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3 {
    color:#fff;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex:1;
    text-align:center;
    margin-bottom: 2px;

}

.footer-col-3{
    flex-basis: 12%;
    text-align: center;
    min-width: 250px;
}

ul{
    list-style-type: none;
}

.menu-icon {
    width: 28px;
    margin-left: 30px;
    display: none;

}

.col-3 h2{
    color:white;
}

.review i{
    color:white;
}

@media only screen and (max-width:800px){
    nav ul {
        position: absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: bottom;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color:#fff
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3 {
        flex-basis: 100%;
    }
}

